body{
	font: 20px/1.5 Tempus Sans ITC;
	padding:0;
	margin:0;
	background-color:#c4732d;
	font-family: Tempus Sans ITC;
}

/*global*/
.container{
		width:80%;
		margin:auto;
		overflow:hidden;
}

ul{
	margin:0;
	padding:0;
}

.button_1{
	height:28px;
	background:#995b00;
	border:0;
	padding-left:25px;
	padding-right:25px;
	color:#593500;
}

/* Header **/
header{
	background:#a05500;
	color:#751f00;
	padding-top:30px;
	min-height:70px;
	border-bottom:#bc7100 5px solid;
}

header a{
	color:#472d10;
	text-decoration:none;
	text-transform: uppercase;
	font-size:18px;
}

header li{
	float:left;
	display:inline;
	padding: 0 20px 0 20px;
}

header #branding{
	float:left;
}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color:#e58800;
	font-weight:bold;
}

header a:hover{
	color:#e58800;
	font-weight:bold;
}

/* Showcase */
#showcase{
	min-height:400px;
	background:url("http://i.imgur.com/YSaMoLr.jpg") no-repeat 0 -400px;
	text-align:center;
	font-weight:bold;
	color:#542600;
}

#showcase h1{
	margin-top:200px;
	font-size:60px;
	margin-bottom:200px;
}

#showcase p{
	font-size:25px;
}

/*newsletter*/

#newsletter{
	padding:15px;
	color:#c4732d;
	background:#ffa151
}

#newsletter h1{
	float:left;
}

#newsletter form{
	float:right;
	margin-top:15px;
}

#newsletter input[type="email"]{
	padding:4px;
	height:28px;
	width:200px;
}

/*Boxes*/
#boxes{
	margin-top:20px;
}

#boxes .box{
	float:left;
	text-align: center;
	font-size:20px;
	width:30%;
	padding:10px;
}



footer{
	padding:20px;
	margin-top:20px;
	font-size:15px;
	color:#542600;
	background-color:#ffa151;
	text-align:center;
}


